*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  background-image: url("./assets/Images/TrainingBanner.png");
  background-repeat: no-repeat;
  background-size: 100% 35vh;
}
.hero-container {
  background-image: url("./assets/Images/HomeBanner.png");
  background-repeat: no-repeat;
  background-size: 100% 90vh;
}
/* .menuContainer{
  position: relative;
}

.menulistcontainer{
  display: none;
}

.menuContainer:hover .menulistcontainer {
  display: flex;
  background-color: white;
  position: absolute;
  width: 30vw;
} */